@import "../../../scss/fonts.scss";
@import "variables";

.portfolio-main {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.portfolio-page-error {
  margin: 100px auto 0;
  font-size: 42px;
  text-align: center;

  a {
    text-decoration-color: $text-color-darkgreen;
    color: inherit;
    cursor: pointer;
  }
}

.portfolio-background {
  height: 100vh;
  width: 30vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: $text-color-darkgreen;

  @media (max-width: 2280px) {
    width: 40%;
  }

  @media (max-width: 1920px) {
    width: 30%;
  }

  @media (max-width: 1640px) {
    width: 25%;
  }

  @media (max-width: 1530px) {
    width: 20%;
  }

  @media (max-width: 1530px) {
    display: none;
  }
}

.portfolio-flex {
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1530px) {
    flex-flow: column-reverse;
    margin-top: 60px;
  }
}

.portfolio-text {
  margin-left: 50px;

  @media (max-width: 1024px) {
    margin: 0 40px;
  }

  @media (max-width: 768px) {
    margin: 0 20px;
  }
}

.portfolio-page-title {
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.portfolio-page-ul {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  max-width: 35vw;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.portfolio-keyword {
  margin-top: 0.8rem;
  margin-right: 0.5rem;
  color: #8d8d8d;
  background-color: #eeeeee;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-size: 0.7em;
  text-transform: uppercase;
}

.portofolio-description {
  font-size: 24px;
  line-height: 1.5;
  max-width: 35vw;
  margin-bottom: 60px;

  @media (max-width: 1530px) {
    max-width: 50vw;
  }

  @media (max-width: 1024px) {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.portfolio-icon {
  width: 37px;
  margin-right: 20px;

  &:hover {
    transform: scale(0.95);
  }
}

.portfolio-image {
  filter: grayscale(20%);
  height: 70vh;

  @media (max-width: 1920px) {
    height: 65vh;
  }

  @media (max-width: 1720px) {
    height: 60vh;
  }

  @media (max-width: 1640px) {
    height: 55vh;
  }

  @media (max-width: 1560px) {
    height: 50vh;
  }

  @media (max-width: 1530px) {
    height: 550px;
    width: 100%;

    object-fit: cover;

    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    height: 360px;
    width: 100%;

    object-fit: cover;

    margin-bottom: 40px;
  }
}
