@import "../../../scss/fonts.scss";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Raleway";
}
body {
  background-color: #fffffe;
}

#render-target {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  flex-grow: 1;
}

ul {
  list-style: none;
}

.frontpage-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 40px;
  height: calc(100vh - #{$header-height + 30px});

  @media (max-width: 1522px) {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
}

h1 {
  font-family: "Lora";
  font-weight: 400;
  font-size: 77px;
  background: -webkit-linear-gradient(#408477, #025243);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frontpage-h1 {
  @media (max-width: 1687px) {
    font-size: 60px;
  }

  @media (max-width: 1522px) {
    font-size: 77px;
  }

  @media (max-width: 1080px) {
    font-size: 52px;
  }

  @media (max-width: 520px) {
    font-size: 32px;
  }

  @media (max-width: 520px) {
    font-size: 26px;
  }
}

.frontpage-typed-text-p {
  font-family: "Lora";
  font-size: 100px;
  margin-bottom: 100px;
  background: -webkit-linear-gradient(#408477, #025243);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1687px) {
    font-size: 70px;
  }

  @media (max-width: 1522px) {
    font-size: 100px;
  }

  @media (max-width: 1080px) {
    font-size: 62px;
  }

  @media (max-width: 720px) {
    font-size: 42px;
  }

  @media (max-width: 520px) {
    font-size: 36px;
  }

  @media (max-width: 377px) {
    font-size: 28px;
  }
}

.description-frontpage {
  margin: 400px auto;
  width: 60%;
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 4px;
  line-height: 2;
  padding: 31px 1px 170px 0px;
  position: relative;
  overflow: hidden;

  @media (max-width: 1522px) {
    margin: auto;
  }
}
.description-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#408477, #025243);
  transform: skewY(-6deg);
  transform-origin: top left;
}
.frontpage-p {
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 65%;
  font-size: 26px;

  @media (max-width: 620px) {
    font-size: 18px;
  }
}

#experience-section {
  padding-top: 80px;
}
