@import "../../../scss/fonts.scss";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Sans-source-pro";
}
body {
  background-color: $white;
  color: $black;
}

#render {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  position: relative;
}

main {
  grid-column: 2/3;
}

ul {
  list-style: none;
}

//title
.frontpage-title-div {
  width: fit-content;
  margin: 0 auto;
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.frontpage-title-h1 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  font-family: Italiana;
  font-weight: 200;
  font-size: 10em;
}

.frontpage-title-p {
  font-size: 4.8em;
}

.down-arrow-section {
  margin-bottom: 40vh;
  animation: rotate-center 2s;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

//portfolio project
.portfolio-project-article {
  background-color: $beige;
}

#frontpage-illustration {
  position: absolute;
  top: 100vh;
  right: 0;
  width: 20%;
  height: auto;
  transform: translate(0, -70%);
}

#down-arrow-icon {
  $size: 116px;

  margin: 0 auto 60px;

  display: block;

  width: $size;
  height: $size;
}

#portfolio-project-section {
  //portfiolo-article reverse styling
  .portfolio-project-article {
    &:nth-of-type(even) {
      align-items: flex-end;

      .portfolio-project-header-and-keywords {
        width: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
      }

      .portfolio-project-header {
        align-self: flex-end;
      }

      .portfolio-project-keywords {
        align-self: flex-end;
        justify-content: flex-end;
      }

      .portfolio-project-p {
        text-align: right;
      }

      .portfolio-project-img {
        left: 0;
        right: initial;
        transform: translate(-50%, -50%);
      }

      .portfolio-article-illustration {
        left: initial;
        right: 60px;
      }
    }
  }
}
