.green-page-decoration {
  height: calc(100vh + 6px);
  width: 50%;
  position: absolute;
  right: 0;
  top: -3px;
  z-index: -1;
  object-fit: cover;

  @media (max-width: 2280px) {
    width: 40%;
  }

  @media (max-width: 1522px) {
    height: calc(30vh + 6px);
    width: 100%;
  }

  @media (max-width: 1440px) {
    height: calc(25vh + 6px);
  }
}
