@import "../../../scss/fonts.scss";
@import "variables";

footer {
  margin-top: 10vh;
  grid-column: 2/3;
}

#footer-top-line {
  position: absolute;
  left: 0;
  right: 0;
}

.footer-text-section {
  margin-top: 5vh;
}

.footer-line {
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer-icon {
  width: 30px;
  &:hover {
    transform: scale(0.95);
  }
}

.linkedin-icon {
  width: 27px;
}

.email-icon {
  width: 34px;
}
.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 2em;
}
