@import "../../../scss/fonts.scss";
@import "variables";

footer {
  grid-column: 2/3;
}

.footer-line {
  margin-top: 10px;
  background-color: $black;
  height: 1px;
}

.footer-icon {
  width: 30px;
  &:hover {
    transform: scale(0.95);
  }
}

.linkedin-icon {
  width: 27px;
}

.email-icon {
  width: 34px;
}
.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
