@import "variables";

header {
  grid-column: 2/3;
}

//logo
.logo-section {
  margin-left: 50px;

  @media (max-width: 520px) {
    flex-flow: column;
    justify-content: flex-start;
  }

  @media (max-width: 520px) {
    margin-left: 0;
  }
}

.logo-image {
  width: 100px;
  height: 115px;

  @media (max-width: 1441px) {
    width: 100px;
    height: 80px;
  }

  @media (max-width: 606px) {
    margin-left: 0;
    width: 100px;
    height: 60px;
  }
}

//nav
.header-nav {
  margin-top: 40px;

  @media (max-width: 792px) {
    margin-top: -50px;
  }

  @media (max-width: 606px) {
    margin-top: -30px;
  }
}

.nav-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  list-style: none;
}

.nav-item {
  text-align: center;
  @media (max-width: 1200px) {
    text-align: left;
  }

  @media (max-width: 1024px) {
    text-align: center;
  }
}

.nav-item-link {
  color: inherit;
  text-decoration: none;
  font-size: 26px;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }
}
