@import "scss/fonts.scss";
@import "variables";

//portfolio
#portfolio-project-section {
  padding: 0 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 15vh;

  /*   @media only screen and (max-width: 2450px) {
    width: 55%;
  }

  @media only screen and (max-width: 2296px) {
    width: 65%;
  }

  @media only screen and (max-width: 1920px) {
    width: 70%;
  }

  @media only screen and (max-width: 1720px) {
    width: 80%;
  }

  @media only screen and (max-width: 1540px) {
    width: 90%;
  }

  @media only screen and (max-width: 1490px) {
    width: 100%;
  } */
}

.portfolio-project-article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1.5em;
  position: relative;
  width: 30%;
  min-height: 600px;
  background-color: $beige;

  @media only screen and (max-width: 2320px) {
    width: 35%;
  }

  @media only screen and (max-width: 1920px) {
    width: 50%;
  }
}

.portfolio-line {
  border: none;
  border-top: 1px solid $black;
}

.portfolio-project-header {
  width: fit-content;
}

.portfolio-project-h2 {
  font-size: 3em;
  margin-top: 5vh;
  color: $gold;
  @media only screen and (max-width: 1066px) {
    font-size: 2em;
  }
}

.portfolio-project-subheaders {
  display: flex;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.portfolio-project-h3 {
  color: $gold;
}

.portfolio-project-h4 {
  color: $gold;
}

.portfolio-project-keywords {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 55%;
  display: flex;
  flex-flow: row wrap;
  gap: 7px 11px;
}

.portofolio-project-keyword {
  color: $gold;
  background-color: $white;
  padding: 4px 12px 4px 12px;
  border-radius: 50px;
  font-size: 1.2em;
}

.portfolio-project-p {
  width: 51%;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 2vh;

  @media only screen and (max-width: 1200px) {
    font-size: 1em;
  }
}

.portfolio-project-img {
  $img-size: 80%;

  position: absolute;
  right: 0;
  top: 50%;
  height: 95%;
  width: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(50%, -50%);
  box-shadow: 5px 5px 10px gray;
  filter: grayscale(50%);

  /*   @media only screen and (max-width: 1490px) {
    height: 100%;
    transform: translate(30%, -50%);
  } */

  /*   @media only screen and (max-width: 1200px) {
    $img-size: 50vh;
    width: $img-size;
    height: $img-size;
  } */
}

.portfolio-article-illustration {
  width: 30px;
  height: auto;
  position: absolute;
  left: 60px;
  bottom: -5%;
  //transform: translateY(100%);
}

//icons
.portfolio-project-button-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  margin-bottom: 5vh;
}

.portofolio-project-icons-a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $black;
  &:hover {
    transform: scale(0.95);
  }
}

.portfolio-icon-img {
  width: 50px;
  height: auto;
  @media only screen and (max-width: 1200px) {
    width: 40px;
  }
}
