//portfolio
#portfolio-project-section {
  margin: 0 auto;
  width: 70vh;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.portfolio-project-article {
  padding: 1em;
  position: relative;
  width: 100%;
  height: 75vh;
}

.portfolio-project-h2 {
  font-size: 3em;
  margin-top: 7vh;
}

.portfolio-project-img {
  $img-size: 70vh;

  position: absolute;
  right: 0;
  top: 50%;
  width: $img-size;
  height: $img-size;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.portfolio-article-illustration {
  width: 60px;
  height: auto;
  position: absolute;
  left: 60px;
  bottom: -70%;
  //transform: translateY(100%);
}

//icons
.portfolio-project-button-row {
  display: flex;
  flex-flow: row nowrap;
}

.portofolio-project-icons-a {
  display: flex;
  flex-flow: column nowrap;
}
.prototype-icon {
  width: 25px;
  height: 25px;
}

.website-icon {
  width: 25px;
  height: 25px;
}

.casestudy-icon {
  width: 23px;
  height: 23px;
}

.github-icon {
  width: 25px;
  height: 25px;
}
