@import "variables";

%timline-circle {
  $circle-width: 30px;

  content: " ";
  position: absolute;
  width: $circle-width;
  height: $circle-width;
  background-color: $text-color-darkgreen;
  border: 4px solid $text-color-darkgreen;
  border-radius: 50%;
  z-index: 1;
  top: -16px;

  @media (max-width: 768px) {
    left: -$circle-width / 2;
    top: 0;
    transform: translateY(-50%);
  }
}

@mixin set-timline-circle-position($direction) {
  top: 0;
  #{$direction}: 0;

  @if $direction == "left" {
    transform: translate(-25%, -50%);
  } @else {
    transform: translate(25%, -50%);
  }
}

%timline-circle-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

%timline-circle--right {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.timeline {
  $timeline-margin: 20px;
  $max-width: 1200px;
  $breakpoint: $max-width + ($timeline-margin * 2);

  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  list-style: none;

  &::after {
    content: " ";
    position: absolute;
    width: 6px;
    background-color: $text-color-darkgreen;
    bottom: 0;
    top: 0;
    left: 50%;
  }

  @media (max-width: $breakpoint) {
    margin: 0 $timeline-margin;
  }

  @media (max-width: 768px) {
    &::after {
      left: 0;
    }
  }
}

.timeline-item {
  border-top-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: calc(50% - -3px);
  margin-bottom: 60px;

  &::after {
    @extend %timline-circle;
  }

  @media (min-width: 769px) {
    /*Left Items*/
    &:nth-child(odd) {
      left: 0;
    }

    /*Circle Left Items*/
    &:nth-child(odd)::after {
      @include set-timline-circle-position("left");
    }

    /*Right Items*/
    &:nth-child(even) {
      right: 0;
      transform: translateX(100%);
    }

    /*Circle Right Items*/
    &:nth-child(even)::after {
      @include set-timline-circle-position("right");
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 6px;
  }
}

.timeline-item-title {
  font-size: 21px;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;

  @media (max-width: 460px) {
    font-size: 20px;
  }
}

.timeline-item-subtitle {
  font-size: 21px;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
}

.timeline-item-text {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 21px;
  line-height: 1.7;

  @media (max-width: 460px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
