@import "variables";
.contact-section {
  margin-top: 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}
.contact-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  width: 450px;
  height: 450px;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }
}

.contact-icon {
  width: 65%;
}
