@import "variables";

.contact-form {
  background-color: #fff;
  padding: 40px;

  max-width: 800px;

  margin: 80px auto 0;

  display: flex;
  flex-flow: column;
  align-items: center;

  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  border-radius: 6px;

  @media (max-width: 840px) {
    margin: 80px 20px;
  }

  @media (max-width: 520px) {
    padding: 20px 10px;

    .input-label {
      margin-bottom: 24px;

      input {
        height: 30px;
        font-size: 16px;
      }
    }
  }
}

.contact-textarea-label {
  width: 100%;
  font-size: 22px;

  @media (max-width: 520px) {
    font-size: 16px;
  }
}

.contact-textarea {
  width: 100%;
  border-radius: 6px;
  resize: none;
  margin-bottom: 60px;
  margin-top: 12px;
  padding: 20px;
  font-family: "Raleway";

  @media (max-width: 520px) {
    margin-bottom: 24px;
  }
}

.contact-submit-button {
  width: 100%;
  background-color: $text-color-darkgreen;
  color: #fff;
  border-radius: 6px;
  padding: 15px 12px;
  border: none;
  font-size: 27px;
  font-family: "raleway";

  cursor: pointer;

  @media (max-width: 520px) {
    font-size: 18px;
  }
}
