@import "variables";

.not-found-text {
  text-align: center;
  margin: 80px auto 0;
}

.not-found-back-link {
  font-size: 1.2rem;
  color: $text-color-darkgreen;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}
