@import "scss/fonts.scss";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Sans-source-pro";
}
body {
  background-color: #fffffe;
  position: relative;
}

ul {
  list-style: none;
}

//illustrations
#header-illustration {
  position: absolute;
  left: 0;
  top: -10px;
  width: 20%;
  height: auto;
}
