@import "scss/fonts.scss";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Sans-source-pro";
}
body {
  background-color: #fffffe;
}

#render-target {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  flex-grow: 1;
}

ul {
  list-style: none;
}
